@use "../../sass/abstracts/mixins" as *

.header
    width: 100%
    background-color: #1a1a1a

    &--title
        font-size: 1.2rem
        font-weight: bold

        &-wrapper
            line-height: 1.2
            padding: 0.5rem

    &--subtitle
        @include subline()
