.btn
    cursor: pointer
    display: flex
    align-items: center
    gap: var(--gap-xxs)
    line-height: 1
    background-color: transparent
    border: none
    text-transform: uppercase
    font-size: var(--gap-xs)

    i
        font-weigth: 400
        transform: matrix(1,0,0,1,0,0)

    &:hover
        i
            animation: button-icon 0.6s linear forwards

            @keyframes button-icon
                33%
                    transform: matrix(0.5,0,0,0.5,0,-10)
                    opacity: 0

                66%
                    transform: matrix(0.5,0,0,0.5,0,10)
                    opacity: 0
                    animation-timing-function: var(--ease-out)

                0%, 100%
                    transform: matrix(1,0,0,1,0,0)
                    opacity: 1
                    animation-timing-function: var(--ease-in)

    &--primary
        background-color: var(--color-primary)
        padding: var(--gap-xs)
        border-radius: var(--gap-xxs)
        font-weight: 600

        &-ghost
            padding: var(--gap-xs)
            border: 1px solid var(--color-primary-50)
            color: var(--color-primary)
            border-radius: var(--gap-xxs)
            font-weight: 600

    &--secondary
        background-color: var(--color-secondary)
        padding: var(--gap-xs)
        border-radius: var(--gap-xxs)
        font-weight: 600
